<div class="container-fluid">
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    あなたの<strong>感謝の気持ち</strong>をください
    <% if params[:a_user_id].present? %>
      <%#= link_to personality_insights_user_path(params[:a_user_id]), remote: true, data: { toggle: :'modal', target: :'.format-modal-lg' } do %>
<!--        <i class="fa fa-search" aria-hidden="true"></i>-->
      <%# end %>

      <%= link_to dashboards_user_path(params[:a_user_id]), remote: true, data: { toggle: :'modal', target: :'.format-modal-lg' } do %>
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <% end %>
    <% else %>
      ♡
    <% end %>
  </div>


  <% if (link_to_next_page @messages, 'next') != nil %>
    <div class="pagination">
      <%= link_to_next_page @messages, 'next' %>
    </div>
  <% end %>

  <div id="messages" class="row row-flex row-flex-wrap">
    <% @messages.each_with_index do |message, i| %>
      <div class="col-lg-4 col-md-6 col-sm-6 flex-col grid-item">
        <%= render 'messages/message', { message: message } %>
      </div>
    <% end %>
  </div>

  <div class="page-load-status">
    <div class="loader-ellips infinite-scroll-request">
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
    </div>
    <p class="infinite-scroll-last">End of content</p>
    <p class="infinite-scroll-error">No more pages to load</p>
  </div>
</div>

<%= content_for :page_javascript do %>
  <script type="text/javascript" charset="utf-8">
    var $messages = $('#messages');
    var $grid = $messages.masonry({
      itemSelector: '.grid-item',
      percentPosition: true,
      stagger: 30,
      // nicer reveal transition
      visibleStyle: {transform: 'translateY(0)', opacity: 1},
      hiddenStyle: {transform: 'translateY(100px)', opacity: 0},
    });

    // get Masonry instance
    var msnry = $grid.data('masonry');

    if ($('.pagination').length > 0) {
      $grid.infiniteScroll({
        path: 'a[rel=next]',
        append: '.col-lg-4.col-md-6.col-sm-6.flex-col.grid-item',
        history: false,
        hideNav: '.pagination',
        outlayer: msnry,
        status: '.page-load-status',
      });
    }

    $(document).on('turbolinks:load', function() {
      $('.selectpicker').selectpicker();
    });

    <% if user_signed_in? %>
    $messages.on('click', '.js-like-button', function(e) {
      e.preventDefault();

      var $heart = $(this).find('img');
      var $likeSum = $(this).find('.js-like-sum');
      var $message_id = $(this).data('message-id');
      like_function($message_id, $(this), $heart, $likeSum);
    });

    function like_function(id, button, heart, sum) {
      button.removeClass('js-like-button');
      if (button.hasClass('decrement')) {
        $.ajax({url: '/likes/' + id, type: 'delete', data: {dataType: 'json'}}).done(function(data) {
          button.removeClass('decrement').addClass('increment').addClass('js-like-button');
          heart.attr('src', "<%= image_path('icon_heart.svg') %>");
          sum.text(data['count']);
        });
      } else {
        $.ajax({url: '/likes', type: 'post', data: {message_id: id, dataType: 'json'}}).done(function(data) {
          button.removeClass('increment').addClass('decrement').addClass('js-like-button');
          heart.attr('src', "<%= image_path('icon_heart_red.svg') %>");
          sum.text(data['count']);
        });
      }
    }
    <% end %>
  </script>
<% end %>
