<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4>
    カードの送受信
  </h4>
</div>

<div class="modal-body">
  <div class="container-fluid">
    <h2>カード送り先<span class="badge badge-red"><%= @send_nums %></span></h2>
    <canvas id="send_chart"></canvas>

    <h2>送られたカードの送信者<span class="badge badge-red"><%= @recipient_nums %></span></h2>
    <canvas id="recipient_chart"></canvas>
  </div>
</div>

<script>
  var recipient_ctx, sender_ctx;
  sender_ctx = document.getElementById('send_chart').getContext('2d');
  recipient_ctx = document.getElementById('recipient_chart').getContext('2d');

  new Chart(sender_ctx, {
    type: 'bar',
    data: {
      labels: <%= raw @send_label.to_json %>,
      datasets: [
        {
          label: 'トップ',
          data: <%= raw @send_data.to_json %>,
          backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)'],
          borderColor: ['rgba(255,99,132,1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'],
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
    },
  });

  new Chart(recipient_ctx, {
    type: 'bar',
    data: {
      labels: <%= raw @recipient_label.to_json %>,
      datasets: [
        {
          label: 'トップ',
          data: <%= raw @recipient_data.to_json %>,
          backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)'],
          borderColor: ['rgba(255,99,132,1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'],
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
    },
  });

</script>
