<style>
  #sunburstChart svg {
    border: 1px solid black;
  }
</style>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4>
    全メッセージによる性格分析
  </h4>
</div>

<div class="modal-body">
  <div class="row">
    <div id="profile" data-profile="<%= @re %>" class="hide"></div>
    <div class="col-xs-12">
      <div id="sunburstChart"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <dl>
        <% @re_obj['consumption_preferences'].each do |consumption_preference| %>
          <dt><%= consumption_preference['name'] %></dt>
          <dd>
            <ul class="list-unstyled">
              <% sorted_cps = consumption_preference['consumption_preferences'].sort_by { |hsh| hsh['score'] } %>
              <% sorted_cps.reverse.each do |cp| %>
                <% if cp['score'] == 1.0 %>
                  <li class="text-primary">
                    <%= cp['name'] %> <i class="fa fa-check" aria-hidden="true"></i>
                  </li>
                <% elsif cp['score'] == 0.0 %>
                  <li class="text-danger">
                    <%= cp['name'] %> <i class="fa fa-times" aria-hidden="true"></i>
                  </li>
                <% else %>
                  <li>
                    <%= cp['name'] %> <i class="fa fa-balance-scale" aria-hidden="true"></i>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>

<script type="text/javascript">
  var defaultColors = {
    traits_dark: '#5aaafa',
    traits_light: '#c0e6ff',
    facet: '#4178be',
    needs_dark: '#41d6c3',
    needs_light: '#a7fae6',
    need: '#008571',
    values_dark: '#ba8ff7',
    values_light: '#eed2ff',
    value: '#9855d4'
  };

  var options = {
    selector: '#sunburstChart',
    version: 'v3',
    d3version: 'v4',
    locale: 'ja',
    colors: defaultColors
  };

  var chart = new PersonalitySunburstChart(options);

  $(function() {
    var $profile = $('#profile');
    var re = $profile.data('profile');
    $profile.empty().append('<pre>' + JSON.stringify(re, null, 2) + '</pre>');
    chart.show(re, '<%= @user.image %>');
  });

</script>
